<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="Gears_on_Gallium" displayname="Gears_on_Gallium">
        <description type="boot">
                <author>pontostroy</author>
                <contact>pontostroy@gmail.com</contact>
                <specification>Gears_on_Gallium</specification>
        </description>
        <preferences>
                <type flags="overlay" hybrid="true" bootkernel="default" filesystem="ext4" fsmountoptions="noatime,barrier=0" fsnocheck="true"  checkprebuilt="false" boottimeout="50" bootprofile="std" boot="isoboot/suse-gog" firmware="efi" image="iso" kernelcmdline="kiwinoswapsearch=1 ramdisk_size=983040 enable_mtrr_cleanup mtrr_spare_reg_nr=1"/>
                <version>17.01.27</version>
                <packagemanager>zypper</packagemanager>
                <rpm-check-signatures>false</rpm-check-signatures>
                <rpm-excludedocs>true</rpm-excludedocs>
                <rpm-force>true</rpm-force>
                <bootloader-theme>openSUSE</bootloader-theme>
                <bootsplash-theme>openSUSE</bootsplash-theme>
                <timezone>UTC</timezone>
                <hwclock>localtime</hwclock>
                <locale>en_US</locale>
        </preferences>
        <users group="root">
                <user name="root" shell="/bin/bash" password="$1$7Gh1HR1k$n1gxTBfBrM.BrYZiNomev." home="/root"/>
        </users>
        <users group="users">
                <user name="gog" shell="/bin/bash" password="$1$K4yZq8cW$G.ARo7clIfJleo4l0Gmx.0" home="/home/gog"/>
        </users>
        <packages patternType="onlyRequired" type="image">
                <package name="plymouth-branding-openSUSE" bootinclude="true" bootdelete="true"/>
                <package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
                <package name="yast2-control-center"/>
                <package name="yast2-storage"/>
                 <package name="autoyast2"/>
                  <package name="yast2-x11"/>
                  <package name="lsb"/>
                  <package name="lsb5"/>
                  <package name="yast2-product-creator"/>
                <package name="yast2-control-center-qt"/>
                <package name="libstdc++6"/>
                <package name="syslinux"/>
                <package name="openSUSE-release"/>
                <package name="openSUSE-release-ftp"/>
                <package name="ca-certificates-cacert"/>
                <package name="ca-certificates-mozilla"/>
                <package name="libcrypto38"/>
		<package name="ConsoleKit"/>
		<package name="ConsoleKit-x11"/>
                <package name="libssl39"/>
		<package name="otter-browser"/>
                <package name="libtls11"/>
                <package name="yast2-network"/>
		<package name="SuSEfirewall2"/>
		<package name="yast2-sound"/>
		<package name="kwayland-integration"/>
		<package name="kwayland"/>
		<package name="libqt5-qtwayland"/>
		<package name="vaapi-wayland-tools"/>
                <package name="flash-player-ppapi"/>
                <package name="yast2-sysconfig"/>
                <package name="yast2-qt-branding-openSUSE"/>
                <package name="yast2-branding-openSUSE"/>
                <package name="libyui-qt-pkg7"/>
                <package name="libyui-ncurses-pkg7"/>
                <package name="yast2-sudo"/>
                <package name="yast2-users"/>
                <package name="gwenview5"/>
                <package name="spectacle"/>
                <package name="phonon-backend-gstreamer"/>
                <package name="gstreamer"/>
                <package name="gstreamer-plugins-base"/>
                <package name="kernel-firmware"/>
                <package name="alsa-utils"/>
                <package name="kernel-default"/>
		<package name="libXtst6"/>
                <package name="xf86-video-ati"/>
                <package name="xf86-video-intel"/>
                <package name="xf86-video-amdgpu"/>
		 <package name="xf86-video-qxl"/> 
                <package name="xf86-video-nouveau"/>
              <!--  <package name="okular"/>-->
                <package name="polkit-default-privs"/>
                <package name="polkit-kde-agent-1"/>
                <package name="polkit-gnome"/>
                <package name="libupower-glib3"/>
                <package name="upower"/>
                <package name="smplayer"/>
                <package name="chromium-beta"/>
		<!--<package name="chromium-ffmpeg"/> -->
                <package name="clementine"/>
               <!-- <package name="baloo-file"/>-->
		<package name="bzip2"/>
                <package name="bluez"/>
               <!-- <package name="bluedevil"/>-->
                <package name="android-tools"/>
                <package name="pptp"/>
                <package name="apitrace"/>
<!--		<package name="gstreamer-plugins-bad-orig-addon"/>-->
		<package name="xhost"/>                
		<package name="xcompmgr"/>
                <package name="gstreamer-utils"/>
                <package name="glibc-locale"/>
                <package name="syslogd"/>
                <package name="yast2-live-installer"/>
                <package name="plasma-nm5"/>
                <package name="plasma-nm5-pptp"/>
		<package name="plasma-nm5-ssh"/>
                <package name="plasma-nm5-openvpn"/>
                <package name="plasma5-workspace-wallpapers"/>
                <package name="net-tools"/>
                <package name="Mesa-demos"/>
                <package name="powerdevil5"/>
                <package name="xorg-x11-server"/>
                <package name="ksysguard5"/>
                <package name="systemsettings5"/>
                <package name="kcm_sddm"/>
                <package name="iputils"/>
                <package name="sysconfig"/>
                <package name="pwdutils"/>
                <package name="procps"/>
                <package name="xrandr"/>
                <package name="netcfg"/>
                <package name="kbd"/>
                <package name="hwinfo"/>
                <package name="aaa_base"/>
                <package name="wine"/>
                <package name="xdg-menu"/>
                <package name="sddm-branding-upstream"/>
                <package name="kdeclarative-components"/>
                <package name="sddm"/>
                <package name="gawk"/>
                <package name="Mesa"/>
                <package name="libtxc_dxtn"/>
                <package name="wireless-tools"/>
                <package name="wireless-regdb"/>
                <package name="kwin5"/>
                <package name="libfreeimageplus3"/>
                <package name="xf86-input-evdev"/>
                <package name="xf86-input-keyboard"/>
		 <package name="xf86-input-joystick"/>
                <package name="xf86-input-mouse"/>
		<package name="xf86-input-libinput"/>
                <package name="xf86-input-wacom"/>
                <package name="xf86-input-void"/>
                <package name="xf86-input-synaptics"/>
                <package name="xf86-input-vmmouse"/>
                <package name="konsole"/>
                <package name="cpupower"/>
                <package name="libxine2"/>
                <package name="liberation-fonts"/>
                <package name="ntfs-3g"/>
                <package name="mc"/>
                <package name="acpica"/>
                <package name="acpi"/>
                <package name="libalut0"/>
                <package name="libSDL_mixer-1_2-0"/>
                <package name="libSDL_image-1_2-0"/>
                <package name="libSDL_sound-1_0-1"/>
                <package name="libSDL_net-1_2-0"/>
                <package name="libSDL_ttf-2_0-0"/>
                <package name="libSDL_gfx15"/>
                <package name="libSDL_Pango1"/>
                <package name="alsa"/>
                <package name="kmix"/>
                <package name="MPlayer"/>
                <package name="wget"/>
                <package name="acpid"/>
                <package name="openal-soft"/>
                <package name="kvkbd"/>
                <package name="alsa-oss"/>
                <package name="kwrite"/>
                <package name="libglpng1"/>
                <package name="libstdc++6"/>
                <package name="dolphin"/>
                <package name="htop"/>
                <package name="sensors"/>
                <package name="wvdial"/>
                <package name="libsensors4"/>
                <package name="dialog"/>
                <package name="util-linux"/>
                <package name="flash-player"/>
                <package name="kget"/>
                <package name="zenity"/>
                <package name="libphysfs1"/>
                <package name="desktop-file-utils"/>
                <package name="plib"/>
                <package name="aria2"/>
                <package name="kwin5"/>
                <package name="kde-gtk-config5"/>
                <package name="aalib"/>
                <package name="ark"/>
                <package name="kcalc"/>
                <package name="kscreen5"/>
                <package name="plasma5-desktop"/>
                <package name="plasma5-session"/>
		<package name="plasma5-addons"/>
                <package name="ffmpeg"/>
                <package name="krdc"/>
                <package name="dosfstools"/>
                <package name="spectacle"/>
                <package name="update-desktop-files"/>
                <package name="kdedesktopcheck"/>
                <package name="gdb"/>
                <package name="unrar"/>
                <package name="libglut3"/>
                <package name="xorg-x11-fonts"/>
                <package name="gstreamer-plugins-good"/>
                <package name="tar"/>
                <package name="ca-certificates"/>
                <package name="latencytop"/>
                <package name="openssh"/>
                <package name="dmidecode"/>
                <package name="lsb-release"/>
                <package name="fuse"/>
                <package name="xz"/>
                <package name="ModemManager"/>
                <package name="wodim"/>
                <package name="btrfsprogs"/>
                <package name="hfsutils"/>
                <package name="jfsutils"/>
                <package name="f2fs-tools"/>
                <package name="xfsprogs"/>
                <package name="obexftp"/>
                <package name="cryptsetup"/>
                <package name="strace"/>
                <package name="reiserfs"/>
                <package name="gstreamer-plugins-good-extra"/>
                <package name="procinfo"/>
                <package name="diffutils"/>
                <package name="p7zip"/>
                <package name="lsof"/>
                <package name="lvm2"/>
                <package name="timezone"/>
                <package name="iftop"/>
                <package name="mobile-broadband-provider-info"/>
                <package name="sudo"/>
                <package name="ntfsprogs"/>
                <package name="udev"/>
                <package name="i2c-tools"/>
                <package name="rdesktop"/>
                <package name="libspeexdsp1"/>
                <package name="libspeex1"/>
                <package name="openvpn"/>
                <package name="cryptconfig"/>
                <package name="bash"/>
                <package name="dmraid"/>
                <package name="usb_modeswitch"/>
                <package name="libkmod2"/>
                <package name="xdg-user-dirs"/>
                <package name="xdg-user-dirs-gtk"/>
                <package name="dejavu-fonts"/>
                <package name="cpupower"/>
                <package name="biosdevname"/>
                <package name="powertop"/>
                <package name="perf"/>
                <package name="radeon-profile"/>
                <package name="dd_rescue"/>
                <package name="hdparm"/>
                <package name="x11perf"/>
                <package name="systemd-sysvinit"/>
                <package name="kdialog"/>
                <package name="vaapi-intel-driver"/>
                <package name="vaapi-tools"/>
                <package name="xdm"/>
                <package name="xorg-x11-server-extra"/>
                <package name="xinit"/>
                <package name="radeontop"/>
                <package name="fontconfig"/>
                <package name="fonts-config"/>
                <package name="google-droid-fonts"/>
                <package name="libvdpau_r600"/>
                <package name="libvdpau_radeonsi"/>
                <package name="libvdpau_nouveau"/>
                <package name="gparted"/>
                <package name="make"/>
                <package name="gcc"/>
                <package name="gcc-c++"/>
                <package name="autoconf"/>
                <package name="automake"/>
                <package name="php5-ctype"/>
                <package name="php5-curl"/>
                <package name="php5-openssl"/>
                <package name="php5-pcntl"/>
                <package name="php5-zip"/>
                <package name="php5-gd"/>
                <package name="php5-zlib"/>
                <package name="php5-posix"/>
                <package name="php5-pear"/>
                <package name="php5-dom"/>
                <package name="libcurl-devel"/>
                <package name="php5-json"/>
                <package name="glew-devel"/>
                <package name="freeglut-devel"/>
                <package name="libSDL-devel"/>
                <package name="freeimage-devel"/>
                <package name="libSDL_gfx-devel"/>
                <package name="libSDL_image-devel"/>
                <package name="libSDL_net-devel"/>
                <package name="libSDL_ttf-devel"/>
                <package name="libSDL_sound-devel"/>
                <package name="libtool"/>
                <package name="pkg-config"/>
                <package name="zlib-devel"/>
                <package name="freealut-devel"/>
                <package name="libjpeg-devel"/>
                <package name="libpng16-devel"/>
                <package name="libpng12-devel"/>
                <package name="libvorbis-devel"/>
                <package name="glu-devel"/>
                <package name="libjansson-devel"/>
                <package name="llvm-r600-clang"/>
                <package name="ncurses-devel"/>
                <package name="libglfw3"/>
                <package name="libglfw2"/>
                <package name="librtmp1"/>
		<package name="scrot"/>
		<package name="qps"/>
		<package name="wmctrl"/>
		<package name="Mesa-libOpenCL"/>
		<package name="ocl-icd-devel"/>
                <package name="libOpenCL1"/>
                <package name="libclc-devel"/>
                <package name="grub"/>
                <package name="grub2"/>
                <package name="grub2-i386-pc"/>
                <package name="grub2-x86_64-efi"/>
                <package name="xdpyinfo"/>
                <package name="steam"/>
                <package name="aaa_base-extras"/>
                <package name="gpart"/>
                <package name="libuuid-devel"/>
                <package name="libblkid-devel"/>
                <package name="libacl-devel"/>
                <package name="lzo-devel"/>
                <package name="gst-omx"/>
                <package name="libomxil-bellagio"/>
                <package name="libomx_mesa"/>
                <package name="gstreamer-plugins-bad"/>
		<package name="gstreamer-plugins-base"/>
                <package name="gstreamer-plugins-libav"/>
                <package name="gstreamer-plugins-ugly"/>
                <package name="gstreamer-plugins-vaapi"/>
		<package name="alsa-plugins-pulse"/>
                <package name="pavumeter"/>       
                <package name="pavucontrol"/>
                <package name="paprefs"/>
                <package name="paman"/>
		<package name="libfreeimageplus3"/>
		<package name="libgcrypt11"/>
		<package name="libXtst6"/>
		<package name="gconf2"/>
		<package name="mpv"/>
		<package name="lxde-common"/>
		<package name="lxshortcut"/>
		<package name="lxsession"/>
		<package name="lxterminal"/>
		<package name="lxappearance"/>
		<package name="lxappearance-obconf"/>
		<package name="lxpanel"/>
		<package name="lxpanel-plugin-power-manager"/>
		<package name="lxrandr"/>
		<package name="lxde-common-branding-upstream"/>
		<package name="lxinput"/>
		<package name="lxtask"/>
		<package name="nuoveXT2-icon-theme"/>
		<package name="lxcc"/>
		<package name="pcmanfm"/>
		<package name="gphotofs"/>
		<package name="libgphoto2-6"/>
		<package name="Mesa-libd3d"/>
		<package name="libGLEW1_13"/>
		<package name="dbus-1-x11"/>
		<package name="fuse-exfat"/>
		<package name="chntpw"/>
		<package name="less"/>
		<package name="ucode-amd"/>
		<package name="ucode-intel"/>
		<package name="weston"/>
                <package name="libSM6"/>
		<package name="Mesa-libva"/>
                <package name="libKF5KDcraw5"/>
		<package name="xdriinfo"/>
		<package name="driconf"/>
		<package name="clinfo"/>
		<!--<package name="clpeak"/>-->
		<package name="libvulkan_intel"/>
		<package name="libvulkan_radeon"/>
		<package name="vulkan"/>
		<package name="libvulkan1"/>
		<package name="xorg-x11-server-wayland"/>
		<package name="libvirglrenderer0"/>
        <package name="simplescreenrecorder"/>
        <package name="obs-studio"/>
        <package name="libopusfile0"/>
        <package name="libmikmod3"/>
        <package name="libSDL2-2_0-0"/>
        <package name="libSDL2_image-2_0-0"/>
        <package name="libSDL2_mixer-2_0-0"/>
       <!-- <package name="libSDL2_ttf-2_0-0"/>-->
        <package name="libXss1"/>
        <package name="libvorbis0"/>
        <package name="libassimp3"/>
        <package name="gwenhywfar-tools"/>
        <package name="libdrm-amdgpu-pro"/>
        <package name="libopencl-amdgpu-pro"/>
        <package name="vulkan-amdgpu-pro"/>
        <package name="libopencl-amdgpu-pro-icd"/>
        <package name="libgwenhywfar60"/>
<!--lang-->
                <package name="paratype-pt-sans-fonts"/>
                <package name="paratype-pt-serif-fonts"/>
                <package name="paratype-pt-mono-fonts"/>
<!--lib32-->
		<package name="libudev1-32bit"/>
                <package name="glibc-locale-32bit"/>
		<package name="libpci3-32bit"/>
		<package name="Mesa-libd3d-32bit"/>
		<package name="gnome-keyring-32bit"/>
		<package name="libusb-1_0-0-32bit"/>
		<package name="libbz2-1-32bit"/>
		<package name="alsa-plugins-pulse-32bit"/>
		<package name="libSDL-1_2-0-32bit"/>
		<package name="libSDL2-2_0-0-32bit"/>
		<package name="libSDL2_gfx-1_0-0-32bit"/>
		<package name="libSDL2_image-2_0-0-32bit"/>
		<package name="libSDL2_mixer-2_0-0-32bit"/>
		<!--<package name="libSDL2_ttf-devel-32bit"/>-->
		<package name="libSDL_gfx15-32bit"/>
		<package name="libSDL_image-1_2-0-32bit"/>
		<package name="libSDL_mixer-1_2-0-32bit"/>
		<package name="libSDL_net-1_2-0-32bit"/>
		<package name="libSDL_sound-1_0-1-32bit"/>
		<package name="libSDL_ttf-2_0-0-32bit"/>
		<package name="libSDLmm-0_1-8-32bit"/>
		<package name="libICE6-32bit"/>
        <package name="libXss1-32bit"/>
		<package name="libSM6-32bit"/>
		<package name="libtxc_dxtn-32bit"/>
        	<package name="libgcrypt11-32bit"/>
		<package name="libXtst6-32bit"/>
		<package name="gconf2-32bit"/>
		<package name="libgphoto2-6-32bit"/>
                <package name="libcrypto38-32bit"/>
                <package name="libssl39-32bit"/>
                <package name="libtls11-32bit"/>
		<package name="libGLEW1_13-32bit"/>
                <package name="cups-libs-32bit"/>
		<package name="Mesa-libva-32bit"/>
        </packages>
        <packages type="bootstrap">
                <package name="glibc-locale"/>
                <package name="cracklib-dict-full"/>
                <package name="ca-certificates"/>
                <package name="filesystem"/>
                <package name="module-init-tools"/>
                <package name="udev"/>
                <package name="libstdc++6"/>
        </packages>
        <repository type="yast2"  imageinclude="false" >
                <source path="http://download.opensuse.org/distribution/leap/42.2/repo/oss/"/>
        </repository>
        <repository type="yast2"  imageinclude="false"  >
                <source path="http://download.opensuse.org/distribution/leap/42.2/repo/non-oss/"/>
        </repository>
        <repository type="rpm-md" priority="90" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/security/openSUSE_Leap_42.2/"/>
        </repository>
                <repository type="rpm-md" priority="90" imageinclude="false"  >
                <source path="http://download.opensuse.org/update/leap/42.2/oss/"/>
        </repository>
                <repository type="rpm-md" priority="90" imageinclude="false"  >
                <source path="http://download.opensuse.org/update/leap/42.2/non-oss/"/>
        </repository>
                <repository type="rpm-md" priority="90" imageinclude="false"  >
                <source path="http://www.gearsongallium.com/download/amdgpu-pro-16.60-379184/"/>
        </repository>
        <repository type="rpm-md" priority="90" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/pontostroy:/drm-next/openSUSE_Leap_42.2/"/>
        </repository>
	<repository type="rpm-md" priority="10" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/pontostroy:/gst/openSUSE_Leap_42.2/"/>
        </repository>
	<repository type="rpm-md" priority="9" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/pontostroy:/branches:/home:/pontostroy:/X11/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="30" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/KDE:/Qt58/openSUSE_Leap_42.2/"/>
        </repository>       
        <repository type="rpm-md" priority="30" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/KDE:/Unstable:/Frameworks/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="30" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/KDE:/Unstable:/Extra/KDE_Unstable_Frameworks_openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="30" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/KDE:/Unstable:/Applications/KDE_Unstable_Frameworks_openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="15" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/pontostroy:/X11/openSUSE_Leap_42.2/"/>
	</repository>
        <repository type="rpm-md" imageinclude="false" priority="20"  >
                <source path="http://ftp.uni-erlangen.de/pub/mirrors/packman/suse/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/games/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/games:/tools/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="55" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/network:/chromium/openSUSE_Leap_42.2/"/>
	</repository>
	<repository type="rpm-md" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/X11:/Utilities/openSUSE_Leap_42.2/"/>
        </repository>
	<repository type="rpm-md" priority="110" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/seife:/testing/openSUSE_Leap_42.2/"/>
        </repository>
        <repository type="rpm-md" priority="30" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/multimedia:/libs/openSUSE_Leap_42.2/"/>
        </repository>
	        <repository type="rpm-md" priority="85" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/mnhauke:/opencl:/stable/openSUSE_Leap_42.2/"/>
        </repository>
        	        <repository type="rpm-md" priority="85" imageinclude="false"  >
                <source path="http://download.opensuse.org/repositories/home:/namtrac:/subpixel/openSUSE_Leap_42.2/"/>
        </repository>
</image>
