[Desktop Entry]
Comment[en_US]=
Comment=
Exec=cd /opt/Lightsmark2008.2.0/bin/pc-linux64 && ./backend window 1024x768
GenericName[en_US]=
GenericName=
Icon=fork
MimeType=
Name[en_US]=Lightmark
Name=Lightmark
Path=
StartupNotify=false
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=false
