[Desktop Entry]
X-SuSE-translate=true
GenericName=Administrator Settings
Type=Application
Categories=Settings;System;X-SuSE-Core-System;X-SuSE-ControlCenter-System;
Name=YaST live-installer
Icon=yast
GenericName=Control Center
Exec=kdesu -c /sbin/yast2 live-installer
Encoding=UTF-8
Comment=Manage system-wide settings

